
h1 {
    color: midnightblue;
    text-align: center;
}

h2 {color:midnightblue;}

h3 {color:midnightblue;}

body {background-color: rgb(18, 218, 11);
text-align:center;}

div {background-color: sandybrown;}

footer {position:absolute;
    bottom:0; 
    width:100%;
    margin-top: 10px;
    }

.tabela {
    background-color: sandybrown;
    border: 1px solid; color: darkgreen;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

td, tr, th {
    text-align:center; 
    vertical-align:middle;
    border: 1px solid; color: darkgreen; 
    border-collapse: collapse;
}

#logos {
margin: auto;
}

a:hover{
    color: darkgray;
}

legend {
    font-weight: bolder;

}

label{
    cursor: pointer;
}

