
h1 {color: midnightblue;
    text-align: center;
}

h2 {color:midnightblue;}

h3 {color:midnightblue;}

body {background-color: rgb(18, 218, 11);}

div {background-color: sandybrown;}

footer {position: absolute;
        bottom:0;
        width: 100;
        text-align: center;
    }

.tabela {

    background-color: sandybrown;
    
}

td {
    text-align:center; 
    vertical-align:middle;
}

#logos{

    margin: 200px;
}